@model IEnumerable<lab5v2.Models.Doctor>
@{
    ViewData["Title"] = "CreatePatient";
}

<h2>Create Patient</h2>

<form method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-4">
            <label>Name</label>
            <input type="text" name="name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label>Doctor</label>
            <select name="doctorid">
                @foreach (var doctor in Model)
                {
                    <option value="@doctor.Id">@doctor.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <input type="submit" class="btn btn-default" name="submit" value="Create" />
        </div>
    </div>

</form>

<a href="/Home/Patients">Back to list</a>

