
@{
    ViewData["Title"] = "DetailsPatient";
}

<h2>Details</h2>

<div>
    <div style="display:inline;font-weight:bold">Name</div>
    <div style="display:inline;margin-left:20px">@Model.Name</div>
</div>

<a href="/Home/Patients">Back to list</a>
