
@{
    ViewData["Title"] = "DetailsDoctor";
}

<h2>Details</h2>

<div>
    <div style="display:inline;font-weight:bold">Name</div>
    <div style="display:inline;margin-left:20px">@Model.Name</div>
</div>
<div>
    <div style="display:inline;font-weight:bold">Speciality</div>
    <div style="display:inline;margin-left:20px">@Model.Speciality</div>
</div>

<a href="/Home/Doctors">Back to list</a>

