@{
    ViewData["Title"] = "Home Page";
}
<h1>Menu</h1>
<ul>
    <li><a href="/Home/Hospitals">Hospitals</a></li>
    <li><a href="/Home/Doctors">Doctors</a></li>
    <li><a href="/Home/Patients">Patients</a></li>
</ul>
